.user-card {
  margin-top: 5%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 5px black;
  padding: 10px;
  position: relative;
  display: flex;
}

.user-card > .user-card-avatar {
  background-color: aliceblue;
  padding: 5px;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 5px black;
}

.user-card > .user-card-info {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.user-card > .user-card-actions {
  position: absolute;
  right: 0%;
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

.user-card > .user-card-actions > * {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  color: rgba(0,0,0, 0.3);
  background-color: rgba(240, 240, 240, 1);
}

.user-card-actions > *:hover {
  color: #5e5e5e;
  cursor: pointer;
}