.header {
  position: sticky;
  width: 100%;
  background-color: peachpuff; 
  display: flex;
  justify-content: space-between;
}

.header .button {
  font-weight: 500;
  margin: 0 5px;
  border: 1px solid #03A696;
  background-color: #03A696; 
  color: white;
}

.header .button:hover {
  font-weight: 900;
  border-color: black;
  background-color: #1B2B40;
}

.icon {
  background-color: #03A696; 
  padding: 10px;
  border-radius: 30px;
  border: #03A696;
  display: inline;
}

.icon:hover {
  background-color: #1B2B40;
}

.auth-block {
  display: flex;
  gap: 15px;
  align-items: center;
}