/* .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding: 0 10px;
  top: 0;
  left: 0;
  height: 8%;
  width: 100%;
  background-color: rgb(14, 66, 112);
} */
/* .header__search{
  box-sizing: content-box;
  background-color: azure;
  color: grey;
  border-radius: 20px;
  height: fit-content;
  padding: 5px 80px 5px 5px;
}
.header__avatar{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: blanchedalmond;
} */